
.cabecalho {
    padding: 1rem 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.cabecalho__menu {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
}

.cabecalho__img {
    max-width: 6rem;
    width: 10%;
}

.menu__contato {
    display: inline-block;
    text-align: center;
}

.menu__texto {
    font-size: 1.25rem;
    line-height: 30px;
    margin-left: 1rem;
}

/* checked menu */

.menu__checked:checked~.menu__lista {
    display: block;
}

.menu__checked {
    display: none;
}

.menu__checked:checked~.menu__icon {
    background: var(--terciaria);
}

.menu__lista {
    background: var(--primaria);
    display: none;
    padding: 1rem;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%;
}

.lista__item {
    padding: 1rem 0;
}

.item-link {
    color: var(--branco);
    font-family: var(--fonte);
    font-size: 1.75rem;
    font-weight: var(--medio);
}

/* Icons */

.menu__icon {
    height: 1.5rem;
    width: 1.5rem;
}

.icon--hamburguer::before {
    content: url('../../image/icone_menu_hamburguer.svg');
}

.icon--local::before {
    content: url('../../image/icone_localizacao.svg');
}

.icon--telefone::before {
    content: url('../../image/icone_contato_telefone.svg');
}

.icon--local::before,
.icon--telefone::before {
    margin-right: 1rem;
}



