.cabecalho {
    background: var(--primaria);
    padding: 1rem 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.cabecalho__menu {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.cabecalho__img {
    text-align: center;
    max-width: 6rem;
    width: 70%;
    height: 10%;
}

.menu__texto {
    color: var(--branco);
    font-size: 1.25rem;
    line-height: 30px;
}

.menu {
    width: 10%;
}

.menu__contato,
.menu__checked,
.menu__lista {
    display: none;
}

/* checked menu */
.menu__checked:checked~.menu__lista {
    display: block;
}

.menu__checked:checked~.menu__icon {
    background: var(--terciaria);
}

.menu__lista {
    background: var(--primaria);
    display: none;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%;
}

.lista__item {
    padding: 1rem 0;
}

.item-link {
    color: var(--branco);
    font-family: var(--fonte);
    font-size: 1.75rem;
    font-weight: var(--medio);
}

@media ( min-width: 768px ) {
    .cabecalho {
        background: none;
    }

    .cabecalho__menu {
        justify-content: space-evenly;
    }

    .menu__contato {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }

    .menu {
        width: 5%;
    }

    .cabecalho__img {
        width: 5%;
    }
}