:root {
    /* ==== Cores ==== */	
    --azul: rgb(19, 61, 245);
    --cinza: #333131;
    --branco: #ffffff;
    --laranja: #ECB074;
    --marrom: #523D2A;
    --preto: #000000;


    /* ==== Peso Fontes ==== */
    --fina: 100;
    --baixo: 400;
    --medio: 500;
    --alto: 700;
}

