:root {
    /* ==== Cores ==== */	
    --branco: #ffffff;
    --laranja: #ECB074;
    --azul: rgb(19, 61, 245);

    /* ==== Peso Fontes ==== */
    --fina: 100;
    --baixo: 400;
    --medio: 500;
    --alto: 700;
}

