.about_container {
    align-items: center;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 100%;
}

.about_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about_info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.about_picture {
    margin-left: 256px;
    margin-right: 20px;
}

.about_banner {
    align-items: center;
    background: url("../image/bannerAbout.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 333px;
    justify-content: center;
    width: 100%;
}

.banner_aspas {
    height: 75px;
    margin-left: 40px;
    margin-top: 160px;
    width: 75px;
}

.aspas_title {
    color: var(--branco);
    font-weight: 700;
    font-size: 26px;
    margin-left: 40px;
    margin-top: 20px;
}

.aspas_subtitle {
    color: var(--laranja);
    font-weight: 400;
    font-size: 26px;
    margin-left: 40px;
    margin-top: 20px;
}


.about_bar {
    border: 3px solid #ECB074;
    margin-top: 40px;
    width: 50px;
}

.about_title {
    color: #523D2A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;

}

.about_subtitle {
    color: #ECB074;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
}

.about_text {
    color: #523D2A;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-top: 20px;
    text-align: left;
}

.about_picture {
    background: url(../image/Barbershop.svg);
    background-repeat: no-repeat;
    border: 2px solid #000000;
    height: 198px;
    left: 83px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 210px;
}

@media only screen and (max-width: 1064px) {

    .banner_aspas {
        display: none;
    }

    .aspas_title {
        margin-top: 220px;
    }
    
    .aspas_subtitle {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {

    .about_picture {
        margin-left: 40px;
    }

    .about_banner {
        display: none;
    }

}