.services_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services_content {
    background: #364041;
}

.service_bar {
    border: 3px solid #ECB074;
    margin-top: 40px;
    width: 50px;
}

.services_title {
    color: var(--branco);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    margin-top: 10px;
}

.services_subtitle {
    color: #ECB074;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-top: 20px;
}

.services_about {
    align-items: baseline;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.service_image {
    height: 120px;
    margin-top: 100px;
    width: 100px;
}

.service_title {
    color: var(--branco);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
}

.service_text {
    color: var(--branco);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.services_figure {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 151px;
}

.services_prices {
    align-items: center;
    background: url(../image/Rectangle_28.svg);
    background-color: var(--branco);
    display: flex;
    height: 520px;
    justify-content: center;
    margin-top: 40px;
}

.services_content {
    background-color:  var(--cinza);
    border: 1px solid var(--laranja);
    display: flex;
    height: 520px;
    width: 1171px;
    margin: 5px;
}

.service_classic {
    margin-left: 40px;
}

.service_beard {
    margin-left: 30px;
}

.services_price {
    color: var(--branco);
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    margin-top: 20px;
    width: 520px;
}

.services_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-right: 18px;
}

.services_lineborder {
    align-items: center;
    border: 1.5px solid #ECB074;
    display: flex;
    justify-content: center;
    margin: 25px 20px;
}

.lineborder {
    border: 0.537042px solid #968787;
    display: flex;
    justify-content:flex-start;
    width: 35%;
}

.price {
    color:#ECB074;
}

.services_pictures {
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 1064px) {
    
    .service_bar {
        border: 2px solid #ECB074;
        margin-top: 20px;
        width: 50px;
    }

    .services_title {
        font-size: 21px;
    }
    
    .services_subtitle {
        font-size: 26px;
    }

    .service_image {
        height: 90px;
        width: 65px;
    }
    
    .service_text {
        font-size: 10px;
    }
}

@media only screen and (max-width: 576px) {

    .service_bar {
        border: 1px solid #ECB074;
        margin-top: 10px;
        width: 50px;
    }

    .services_title {
        font-size: 21px;
    }
    
    .services_subtitle {
        font-size: 18px;
    }

    .services_about {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

    .service_image {
        margin-top: 30px;
    }
}