.schedule_container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.schedule_content {
    background: url(../image/bannerAgenda.svg);

    width: 100%;
}

.schedule_banner {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.schedule_text {
    color: var(--marrom);
    font-weight: 700;
    font-size: 36px;
    padding: 20px 0px;
}

.schedule_text p {
    margin-top: 20px;
}

.description_button {
    align-items: center;
    display: flex;
    justify-content: center;
    background: var(--laranja);
    border-radius: 20px;
    height: 76px;
    margin-top: 20px;
    width: 370px;
}

.button_text {
    color: var(--marrom);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.schedule_info {
    align-items: center;
    background: var(--cinza);
    display: flex;
    height: 640px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.schedule_barber {
    align-items: center;
    background-color: var(--cinza);
    display: flex;
    height: 420px;
    justify-content: space-around;
    padding: 40px;
    width: 371px;
}

.barber_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
}

.barber_photos {
    height: 340px;
    width: 291px;
}

.barber_name {
    color: var(--laranja);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-top: 25px;
}

