.schedule_container {
    display: flex;
    justify-content: center;
    height: 335;
    margin-top: 40px;
    width: 100%;
}

.schedule_content {
    background: url(../image/bannerAgenda.svg);
    height: 332px;
    width: 100%;
}

.schedule_banner {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.schedule_text {
    color: var(--marrom);
    font-weight: 700;
    font-size: 36px;
    padding: 20px 0px;
}

.schedule_text p {
    margin-top: 20px;
}

.description_button {
    align-items: center;
    display: flex;
    justify-content: center;
    background: var(--laranja);
    border-radius: 20px;
    height: 76px;
    margin-top: 20px;
    width: 370px;
}

.button_text {
    color: var(--marrom);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

