@import url('./abstract/_reset.css');
@import url('./abstract/_variaveis.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

@import url('./components/container.css');
@import url('./components/cabecalho.css');

body {
    background: var(--branco);
    color: var(--preto);
    font-family: var(--fonte);
    font-size: var(--texto);
    font-weight: var(--padrao-regular);
}

