.welcome_schedule {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_button {
    background: #ECB074;
    border-radius: 10px;
    color: #523D2A;
    font-family: 'Roboto';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    height: 36px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    width: 148px;
}