.footer_container {
    align-items: center;
    background: #333131;
    color: #FFF;
    display: flex;
    justify-content: center;
}

.footer_content {
    font-weight: 700;
    font-size: 11px;;
}
