.header_container {
    background-color: #333131;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.header_content {
    background-color: #333131;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
}

.header_logo {
    background: url(../image/Iniciativa-pro-logo3.svg);
    background-repeat: no-repeat;
    height: 40px;
    width: 45%;
}

.header_menu {
    color:#333131;
    margin-right: 20px;
}

.menu_button {
    background-color: #333131;
    border: #333131 solid 2px;
    color: var(--laranja);
    cursor: pointer;
}

.menu_button a {
    display: block;
}

.menu_button:hover {
    color: blue;
}

.header_menu {
    overflow: hidden;
    color: var(--branco);
    cursor: zoom-out;
}

.header_links {
    display: none;
    text-decoration: none;
    color: var(--laranja);
}

