.header_container {
    background-color: #333131;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.header_content {
    background-color: #333131;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
}

.header_logo {
    background: url(../image/Iniciativa-pro-logo3.svg);
    background-repeat: no-repeat;
    height: 40px;
    width: 49%;
}

.header_menu {
    color:#333131;
    margin-right: 20px;
}

.menu_button {
    background-color: #333131;
    border: none;
    color: #ECB074;
}

.header_menu {
    overflow: hidden;
    color: #FFF;
}

.header_links {
    display: none;
    text-decoration: none; 
}

